body {
  margin: 0;
  overflow: hidden;
  background-image: url('https://images.unsplash.com/photo-1589987607627-816bec2f9bc7?ixlib=rb-4.0.3&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

svg {
  position: absolute;
  display: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
